*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(images/header\ img.webp);
    background-attachment: fixed;
    height: 12vh;
}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;
    list-style-type: none;
    z-index: 1;

}

nav ul li a{
    text-decoration: none;
    color: black;
    border: none;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: "Rubik Dirt", system-ui;
    transition: 0.5s ease;
}

nav ul li a:hover{
    background-color: #E75480;
    color: black;
}

nav img{
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 300px;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.75);
    color: white;
    padding: 20px;
    transition: bottom 0.4s ease;
}

.card:hover .info {
    bottom: 0;
}

.info h3 {
    margin: 0 0 10px;
    font-family: "Archivo Black", sans-serif;
}

.info p {
    font-size: 14px;
     font-family: "TASA Explorer", sans-serif;
}

.card .info .order-btn{
    background-color: pink;
    border: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease;
    font-family: "Rubik Dirt", system-ui;
}

.card .info .order-btn:hover{
    background-color: #E75480;
    border-bottom: 5px solid black;
}